[run]
source = src/website
omit =
    */venv/*
    */site-packages/*
    */tests/*
    */test_*.py
    __pycache__/*
    .venv/*
    tests/*
    src/website/seed_user.py
    src/website/seed_results.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
    @property
